<!-- Begin page content -->


<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-center" align="center">
                <img src="../../assets/img/stadium.jpg" class="img-responsive" alt="Stadium" height="250" width="250">
            </div>

            <div class="col-sm-6 text-center m-center">
                <p class="lead">Bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
                <p class="lead">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
                <p class="lead">Blo blo blo blo blo blo blo blo blo blo blo blo blo.</p>
                <p class="lead">Blu blu blu.</p>
            </div>
        </div>
    </div>
</div>