/* Place the navbar at the bottom of the page, and make it stick */

.bottombar {
    background-color: #d8d8d8;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}


/* Style the links inside the navigation bar */

.bottombar .container {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    font-size: 14px;
}


/* Change the color of links on hover */

.bottombar a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.bottombar a.active {
    background-color: #4CAF50;
    color: white;
}